@charset "utf-8";

body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size:15px;
    line-height:2;
    color:#707070;
}

h1{
    text-align:center;

    margin:50px 20px 0;

}

h2{
    font-size:18px;
    line-height:1.33;
}

a{
    color:#707070;
    text-decoration:none;
}

a:hover{
    color:#FFBF9D;
}

/*-----...-----*/

.inner{
    max-width:660px;
    width:90.9%;

    margin:0 auto;
}

.header-nav{
    display:flex;
    justify-content: center;
    margin-bottom:80px;
}

.header-nav li{
    list-style:none;
    padding:0 20px;
}

/* main */

.main-cont{
    display:flex;
    
    justify-content:space-between;

    margin-bottom:40px;

}

.main-cont-img{
    width:33.3%;
}

.main-cont-sent{
    width:61.67%;

    padding:57.5px 0;
}

.main-sbsc{
    background-color:#FDF5ED;
}

.main-sbsc .inner{
    padding:40px 0;
    border-bottom:1px solid #707070;
    
}

.main-sbsc h2{
    padding-bottom:30px;
    font-size:26px;
    line-height:1.34;
}

.main-sbsc p{
    padding-bottom:40px;
}

.main-sbsc button{
    padding:20px 47px;
    background-color:#FFBF9D;

    color:#fff;
}


.main-cm{

    padding:40px 0;
    background-color: #FDF5ED;
}

.main-cm-add{
    display:flex;

    width:43.18%;
}

footer{
    padding:50px 0;

    text-align:center;
}

